public/mode/* linguist-documentation
public/lib/* linguist-documentation
public/mode/* linguist-vendored
public/lib/* linguist-vendored
* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.html linguist-vendored
CHANGELOG.md export-ignore
