public/mode/* linguist-vendored
public/lib/* linguist-vendored
public/mode/* linguist-documentation
public/lib/* linguist-documentation
* text=auto
*.css linguist-documentation
*.scss linguist-documentation
*.js linguist-documentation
*.html linguist-documentation
CHANGELOG.md export-ignore
